{% load static %}

<header class="sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-4">
                <a href="javascript:void(0);" onclick="window.location.href='/'" class="header-logo">
                    <img
                        src="{% static 'assets/img/brand/logo.png' %}"
                        loading="lazy"
                        alt="loto urban"
                        class="logo-img"
                    />
                    <span class="text-uppercase logo-text"> Loto Urban </span>
                </a>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <nav>
                    <ul class="main-menu list-unstyled justify-content-center">
                        <li class="main-menu-item">
                            <a href="javascript:void(0);" onclick="window.location.href='/'">Inicio</a>
                        </li>

                        <li class="main-menu-item">
                            <a href="javascript:void(0);" onclick="window.location.href='/'">Tienda</a>
                        </li>

                        <li class="main-menu-item">
                            <a href="javascript:void(0);" onclick="window.location.href='/'">Otros</a>
                        </li>

                        <li class="main-menu-item">
                            <a href="javascript:void(0);" onclick="window.location.href='/'">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-8 col-8">
                <div class="row align-items-center">
                    <ul class="icons-menu list-unstyled">
                        <!-- Search Icon -->
                        <li class="">
                            <a class="header-icon" href="javascript:void(0)">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="19"
                                    height="19"
                                    fill="currentColor"
                                    class="icon icon-search"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                                    />
                                </svg>
                            </a>
                        </li>

                        <!-- User Icon -->
                        <li class="">
                            <div class="megamenu">
                                <div class="megamenu-header">
                                    <a
                                        class="header-icon"
                                        href="javascript:void(0);"
                                        onclick="window.location.href='/user/signin'"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            fill="currentColor"
                                            class="icon icon-user"
                                            viewBox="0 0 16 16"
                                        >
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                                            />
                                        </svg>
                                        {% if user.is_authenticated %}
                                        <span>{{ user.first_name }} {{ user.last_name }}</span>
                                        {% else %}
                                        <span>Iniciar Sesión</span>
                                        {% endif %}

                                        <span class="">
                                            <svg
                                                class="icon icon-dropdown"
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            >
                                                <polyline points="6 9 12 15 18 9"></polyline>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                                <div class="megamenu-content">
                                    <ul class="list-unstyled">
                                        {% if user.is_authenticated %}
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/profile'"
                                                >Perfil</a
                                            >
                                        </li>
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/address'"
                                                >Direcciones</a
                                            >
                                        </li>
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/payment'"
                                                >Metodos de Pago</a
                                            >
                                        </li>
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/signout'"
                                                >Cerrar Sesión</a
                                            >
                                        </li>
                                        {% else %}
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/signin'"
                                                >Iniciar Sesión</a
                                            >
                                        </li>
                                        <li class="megamenu-item">
                                            <a
                                                class="nav-link-sub nav-text-sub"
                                                href="javascript:void(0);"
                                                onclick="window.location.href='/user/signup'"
                                                >Registrarse</a
                                            >
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!-- Wishlist Icon -->
                        <li class="">
                            <a
                                class="header-icon"
                                href="javascript:void(0);"
                                onclick="window.location.href='/wishlist'"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    fill="currentColor"
                                    class="icon icon-wishlist"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                                    />
                                </svg>
                            </a>
                        </li>

                        <!-- Cart Icon -->
                        <li class="">
                            <a class="header-icon" href="javascript:void(0);" onclick="window.location.href='/cart'">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="22"
                                    height="22"
                                    fill="currentColor"
                                    class="icon icon-cart"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
                                    />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification Bar -->
    {% include 'notification.html' %}

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <div class="container">
            <!-- Search Form - TOCHANGE -->
            <form action="" class="search-form d-flex align-items-center">
                <button type="submit" class="search-submit bg-transparent pl-0 text-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19"
                        height="19"
                        fill="currentColor"
                        class="icon icon-search"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                        />
                    </svg>
                </button>

                <div class="search-input mr-4">
                    <input type="text" placeholder="Buscar productos..." autocomplete="off" />
                </div>

                <div class="search-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-close"
                    >
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </form>
        </div>
    </div>
</header>
